// view/layout/base.templ

package layout

templ Base() {
	<html>
		<head>
			<link href="/static/css/tailwind.css" rel="stylesheet"/>
		</head>
		<body class="container">
			This is from the base layout
			{ children... }
		</body>
	</html>
}
